*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    background-color: #E8F3E8;
    /* background-color: #9DDFB6; */
/*     background-image: url('../Imagenes/img_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
}

main{
    padding: 20px;
}

/*contenedor*/
.form_btn_{
    margin: 10px;
    padding: 5px;
    font-weight: 25px;
    font-size: 15px;
    background-color: #F05F47;
    border-radius: 10px;
    border: 2px solid;
}
.form_btn:hover{
    color: #000;
    background-color: #fff;
}

.main{
    padding: 10px;
}

/*while producto*/
.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-foto{
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mostrador{
    width: 100%;
    transition: .5s ease;
}

.fila{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
}

.item{
    max-width: 100%;
    padding: 30px;
    height: 260px;
    border: 1px solid #000;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    transition: .3s;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
}.item:hover{
    background-color: #e6e6e6;  
}
.contenedor-foto{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 0;
    width: 100%;
    max-width: 250px;
    height: 20px;
}.contenedor-foto img{
    width: 150px;
    height: 150px;
    height: auto;
    margin: 30px 0;
    margin-left: 30px;
}

.line{
    background-color: #000;
    top: 20px;
    width: 2px;
    height: 210px;
    left: 290px;
    position: absolute;
}

.contenedor-info{
    width: 100%;
    max-width: 875px;
    height: 100%;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}
.cosa{
    /* position: relative; */
    width: 100%;
    max-width: 875px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cosa2 {
    /* position: absolute; */
    top: 30px;
    left: 50px;
}.cosa2 h3{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
}.cosa2 p{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
}.cosa2 span{
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
}

.cosa3{
    position: absolute;
    top: 60px;
    right: 100px;
}

.titulo__{
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}.titulo__ h3{
    font-size: 20px;
}

/*RESPONSIVE*/

@media(max-width: 1330px){
    /*HEADER*/
    .busqueda input{
        outline: none;
        box-sizing: border-box;
        height: 25px;
        width: 350px;
        padding: 0 20px;
        color: #000;
        border-radius: 50px;
        font-size: 20px;
        border: 1px solid #fff;
        transition: all .7s ease;
    }

    .pie-pagina .grupo1 .box figure img{
        width: 235px;
        padding-top: 50px;
        margin-left: 200px;
    }
}

@media(max-width: 1024px){
    /*HEADER*/
    .busqueda input{
        outline: none;
        box-sizing: border-box;
        height: 25px;
        width: 250px;
        padding: 0 20px;
        color: #000;
        border-radius: 50px;
        font-size: 20px;
        border: 1px solid #fff;
        transition: all .7s ease;
    }

    .cont_Menu .Menu{
        transform: translateY(.1%);
    }

}